# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
mygilmore_vers2.5

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

mygilmore_vers2.4
mygilmore_vers2.5
mygilmore_vers2.6
gilmore2.dat
